accelerate==0.34.2
hf-xet==1.2.0
huggingface-hub==0.36.2
jsonschema==4.25.1
numpy==2.2.6
pyyaml==6.0.3
safetensors==0.6.2
sentencepiece==0.2.1
tokenizers==0.19.1
tqdm==4.67.1
transformers==4.44.2
zstandard==0.23.0
